.event-control {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid rgb(8, 18, 172);
  width: 30rem;
  max-width: 80%;
}
.event-list {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  width: 40rem;
  max-width: 90%;
}
.event-list-item {
  border: 1px solid rgb(8, 18, 172);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
}

.event-list-item h1 {
  font-size: 1.5rem;
  color: rgb(8, 18, 172);
}
.event-list-item h2 {
  font-size: 1rem;
  color: #7c7c7c;
}
.event-list-item p {
  margin: 0;
}
